{% extends "index.html" %}
{% load static %}

{% block body %}

<body>
    <!-- Barra de Navegação -->
    <nav class="navbar">
        <ul>
            <li><a href="#">Suporte</a></li>
            <li><a href="#">Salas</a></li>
            <li><a href="#">Agendar</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Mais</a></li>
        </ul>
    </nav>
    
    <!-- Conteúdo Principal -->
    <div class="main-content">
        <h1>Encontre e <span>Reserve</span> Salas</h1>
        <p>agendamento de salas rápido e fácil</p>
    </div>
</body>

{% endblock %}